html {
    scroll-behavior: smooth;
}
/* For fixed-top */
body { 
    padding-top: 56px; 
}
.parallax { 
    background-image: url("images/cavaliers-raffle.jpg");
    background-attachment: fixed;
    background-position: top 57px center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.tickets-hero {
    background-image: url("images/tickets-hero.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 5px solid #EA6700 !important;
}
.center-cropped {
    object-position: center;
    width: 100%;
}
.bg-blue {
    background-color: #35355A;
}
.text-blue {
    color: #35355A;
}
.bg-dark-blue {
    background-color: #000037;
}
.text-dark-blue {
    color: #000037;
}
.bg-light-blue {
    background-color: #828AA3
}
.text-light-blue {
    color: #828AA3;
}
.bg-red {
    background-color: #b81413;
}
.bg-yellow {
    background-color: #EA6700;
}
.text-yellow {
    color: #EA6700;
}
a {
    color: #b81413;
    text-decoration: none;
}
a:hover {
    color: #b81413;
    text-decoration: underline;
}
.center-cropped-md {
    object-fit: fill;
    height: 100%;
}
h1, h2, h3, h4 {
    font-family: 'Contrail One', cursive;
}
footer a {
    color: #ffffff;
    text-decoration: none;
}
footer a:hover {
    color: #d9eafa;
    text-decoration: underline;
}
.text-shadow { 
    text-shadow: 1px 1px 1px #000000ee,
                 3px 3px 5px #00000055; 
  }